.App {
  text-align: center;
}

.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #7f7f7f;
}

.menu li {
  display: inline-block;
  padding: 10px;
  list-style: none;
}

.menu li:not(:last-of-type) {
  margin: 0 5px;
}

.menu .first-item {
  margin: 0 5px;
}

.menu .last-item {
  margin-left: auto;
}

.nav-title {
  margin-left: 350px;
}
