body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.polls {
  margin-top: 50px;
}

li {
  margin-left: 300px;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

.avatar {
  height: 150px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-small {
  height: 30px;
  border-radius: 5px;
  margin: 10px;
}

.posted-by {
  margin-bottom: 30px;
}

thead {
  font-weight: bold;
}

.polls-title {
  margin-top: 40px;
  font-weight: bolder;
  font-size: 20px;
}

.polls-list {
  border: solid #0074D9;
  border-radius: 50px;
  padding: 20px;
  margin-left: 350px;
  margin-right: 350px;
}

.polls-item {
 margin-left: 40px;
}

.poll-item {
  display: inline-flex;
  margin-bottom: 10px;
}

.poll-item .datefield {
  width: 100px;
  margin-left: 5px;
  margin-right: 10px;
}

.leaderboard {
  display: inline-grid;
}

.user-with-avatar {
  display: inline-grid;
  justify-items: center;
  height: 80px;
}

.link-button {
  background-color: #61dafb;
  padding: 4px;
  text-decoration-line: none;
  border-radius: 5px;
}

.link-button:hover {
  background-color: #0074D9;
}

.new-poll-page {
  display: inline-grid;
}

.poll-radio {
  display: grid;
  width: 500px;
  text-align: left;
}

.option-field {
  display: inline-grid;
  margin-top: 20px;
}
